@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

.font-roboto {
	font-family: 'Roboto', sans-serif;
}
.font-dmSans {
	font-family: 'DM Sans', sans-serif;
}
.container {
	width: 80%;
	max-width: 1440px;
	margin: 0 auto;
}
.h-border {
	border: 2px solid rgba(27, 28, 29, 1);
	box-shadow: 2px 2px 0px 0px rgba(27, 28, 29, 1);
}
.star-box::-webkit-scrollbar {
	width: 8px;
}

.star-box::-webkit-scrollbar-thumb {
	background-color: black; /* Scrol chizig‘i (tutqich) qora */
	border-radius: 4px;
}

.star-box::-webkit-scrollbar-track {
	background-color: #222; /* Orqa fon (kanal) kulrang qora */
}
.animates:hover {
	transition: 2s;
	transform: translateY(-20px);
}
